<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ashay</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Alogin</display-name>
    <servlet-name>Alogin</servlet-name>
    <servlet-class>blackspot.Alogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Alogin</servlet-name>
    <url-pattern>/Alogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStation</display-name>
    <servlet-name>AddStation</servlet-name>
    <servlet-class>blackspot.AddStation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStation</servlet-name>
    <url-pattern>/AddStation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Plogin</display-name>
    <servlet-name>Plogin</servlet-name>
    <servlet-class>blackspot.Plogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Plogin</servlet-name>
    <url-pattern>/Plogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBlackSpot</display-name>
    <servlet-name>AddBlackSpot</servlet-name>
    <servlet-class>blackspot.AddBlackSpot</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBlackSpot</servlet-name>
    <url-pattern>/AddBlackSpot</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBlackSpots</display-name>
    <servlet-name>AddBlackSpots</servlet-name>
    <servlet-class>blackspot.AddBlackSpots</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBlackSpots</servlet-name>
    <url-pattern>/AddBlackSpots</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ulogin</display-name>
    <servlet-name>Ulogin</servlet-name>
    <servlet-class>blackspot.Ulogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ulogin</servlet-name>
    <url-pattern>/Ulogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Uregistration</display-name>
    <servlet-name>Uregistration</servlet-name>
    <servlet-class>blackspot.Uregistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Uregistration</servlet-name>
    <url-pattern>/Uregistration</url-pattern>
  </servlet-mapping>
</web-app>